/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #f8f4f4 #efebeb00;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.none {
  display: none;
}
/* HTML: <div class="loader"></div> */
// .loader {
//   width: 50px;
//   padding: 8px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   background: #25b09b;
//   --_m: 
//     conic-gradient(#0000 10%,#000),
//     linear-gradient(#000 0 0) content-box;
//   -webkit-mask: var(--_m);
//           mask: var(--_m);
//   -webkit-mask-composite: source-out;
//           mask-composite: subtract;
//   animation: l3 1s infinite linear;
// }
// @keyframes l3 {to{transform: rotate(1turn)}}



// /* HTML: <div class="loader"></div> */
// .loader {
//   width: 65px;
//   aspect-ratio: 1;
//   position: relative;
// }
// .loader:before,
// .loader:after {
//   content: "";
//   position: absolute;
//   border-radius: 50px;
//   box-shadow: 0 0 0 3px inset #fff;
//   animation: l4 2.5s infinite;
// }
// .loader:after {
//   animation-delay: -1.25s;
// }
// @keyframes l4 {
//   0% {
//     inset: 0 35px 35px 0;
//   }
//   12.5% {
//     inset: 0 35px 0 0;
//   }
//   25% {
//     inset: 35px 35px 0 0;
//   }
//   37.5% {
//     inset: 35px 0 0 0;
//   }
//   50% {
//     inset: 35px 0 0 35px;
//   }
//   62.5% {
//     inset: 0 0 0 35px;
//   }
//   75% {
//     inset: 0 0 35px 35px;
//   }
//   87.5% {
//     inset: 0 0 35px 0;
//   }
//   100% {
//     inset: 0 35px 35px 0;
//   }
// }