.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal {
  padding: 30px;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 150px;
}

input {
  border-radius: 10px;
}