@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
  --font-family-main: 'Inter', -apple-system, sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m)/var(--font-line-m) var(--font-family-main);
  
  --font-size-l:24px;
  --font-line-m:34px;
  --font-l:var(--font-line-l) / var(--font-size-l) var(font-family-main)
  
  --bg-color:#132431;
}

