*{ 
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}
// input, textarea, button, select {
// 	font-family: inherit;
//     font-size: inherit;
//     color: inherit;
//     background-color: transparent;
// }