.wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.modal {
  border:1px solid black;
  padding: 50px;
}
.none {
  display: none;
}